<h1><%= @team_name %> </h1>
<h2><%= @team_motto %></h2>
<% @team_members.each.with_index do |hero, i| %>
<h2>Hero Name: <%= @hero_name[i] %></h2><br>
<h2>Hero Power: <%= @hero_power[i] %></h2><br>
<h2>Hero Bio: <%= @hero_bio[i]</h2>
<% end %>

